.MyOrders_container{
    margin: 2rem;
}
.myorder_card{
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 50%;
}
.myorder_card_head{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.myorder_id{
    color: grey;
}
.myorder_add{
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0;
}
.myorder_delivery_add{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .8rem;
}
.myorder_delivery_add_data{
    font-weight: 400;
    width: 20%;
}
.myorder_card_body{
    display: flex;
    gap: 2rem;
}
.myorder_card_body_img{
    height: 8rem;
    width: 8rem;
}
.myorder_card_body_title{
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: .5rem;
}
.myorder_delivery_footer{
    display: flex;
    justify-content: space-between;
}
.myorder_cancel_btn{
    margin-top: 1rem;
    background-color: rgb(245, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    border-radius: .3rem;
    color: white;
    width: 5rem;
    left: 40%;
    position: relative;
}
@media (max-width:720px) {
    .MyOrders_container{
        margin: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .myorder_card{
        width: 80%;
    }
    .myorder_add{
        flex-direction: column;
        gap: 0;
    }
}