.signupform_container{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    width: 80%;
    border-radius: .5rem;
}
.signupform_field{
    display: flex;
    width: 95%;
}
.sec1{
    flex-basis: 50%;
}
.sec2{
    flex-basis: 50%;
    margin-left: 7%;
}
.Signupform_input{
    padding: .4rem .5rem;
    width: 100%;
    margin-top: .3rem;
    font-size: 1.1rem;
}
.signupform_input_btn{
    padding: .5rem .4rem;
    width: 99%;
    background-color: #4AC85D;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: .3rem;
    cursor: pointer;
    border:none;
}
.signupform_external_btn{
    margin-top: .5rem;
    padding: .4rem;
    width: 96%;
    color: #4AC85D;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: .3rem;
    border: 1px solid #4AC85D;
    cursor: pointer;
}
@media (max-width:720px) {
    .signupform_container{
        margin-top: 5rem;
        width: 85%;
    }
    .signupform_field{
        flex-direction: column;
    }
    .sec2{
        margin: 0;
    }
}