.footer_container {
  width: 100%;
  margin-top: 5.5rem;
}
.footer_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  position: absolute;
}
.footer_float {
  position: relative;
  background-color: #4ac85d;
  height: 5rem;
  width: 90%;
  padding: 0.5rem 0;
  margin-top: -2.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer_regular {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: 2rem;
}
.footer_categories {
  flex-basis: 20%;
}
.footer_buy_with_us {
  flex-basis: 20%;
}
.footer_about {
  flex-basis: 40%;
  padding-right: 5rem;
}
.footer_contact {
  flex-basis: 20%;
}
h4 {
  color: white;
  margin-bottom: 0.8rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #929a9a;
}
ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (max-width: 539px) {
  .footer_regular {
    flex-direction: column;
  }
  .footer_contact {
    justify-content: flex-start;
  }
  ul li:last-child {
    margin-bottom: 1rem;
  }
}
